<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.arcadudu.danatest_v030">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DanaTest_v030">
        <activity android:name=".test.TestActivity"></activity>
        <activity
            android:name=".activities.tests.VariantsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".testTranslateActivity.TranslateActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.tests.ShuffleActivity" />
        <activity
            android:name=".pairSetEditorActivity.PairSetEditorActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.HomeActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>